# Database
psycopg2-binary==2.9.9
SQLAlchemy==2.0.30

# Data processing
pandas==2.2.2
numpy==1.26.4

# Visualization
matplotlib==3.9.0
seaborn==0.13.2

# ML — modele
scikit-learn==1.5.0
xgboost==2.0.3
prophet==1.1.5
joblib==1.4.2

# Jupyter
jupyterlab==4.2.1
ipykernel==6.29.4
